.job-container {
  background-color: #000000;
  min-height: 100vh;
}

.job-block {
  display: flex;
}

.job-profiles {
  width: 25%;
}

.job-details {
  padding: 10px;
  width: 60%;
}

.job-details input {
  padding: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 40%;
}

.btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px;
}

.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 80%;
}

.failure-view img {
  width: 40%;
}

.job-unordered-list {
  list-style-type: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.failure-view button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px 20px;
}
